# Node modules
node_modules/

# logs
*.log
npm-debug.log*

# Build output
dist/
build/
.bsp/
target/

# Vite cache
.vite/
.vite-inspect/

# Editor output
.vscode/

# Local environment files
.env
.env.local
.env.*.local

# lock files (uncomment if you prefer ignoring them)
package-lock.json

# Scala output
.metals/
metals.sbt

# misc
TODOs.txt